body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #b2dfdb;
}

h1, h2, h3 {
    color: #333;
}

a {
    text-decoration: none;
    color: #00796B;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: middle;
    margin-right: 10px;
}

input, textarea {
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #00796B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796B;
}

hr {
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ddd;
}

section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
